.PSULogo img {
  width: 50%;
  float: right;
}
.BioContainer .PSULogo {
  display: flex;
  justify-content: center;
}
#paragraph p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bio p {
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 600px) {
  .bio h3 {
    font-size: 40px;
  }
  .bio p {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .BioContainer .PSULogo {
    display: block;
  }
  .PSULogo img {
    width: 100%;
  }
}

@media (min-width: 1530px) {
  #paragraph p {
    font-size: 28px;
  }
  #paragraph {
    width: 70%;
    margin: 0 auto;
  }
  .PSULogo img {
    width: 70%;
  }
}

.bio h3 {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px #ff0000;
  font-style: italic;
}
