@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@900&display=swap");

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  background-color: black;
}

.card {
  width: 350px;
  border: double black 4px !important;
  margin: 10px;
}
.projects {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.MoStats {
  width: 350px;
  height: 400px;
}
.Title {
  text-align: center;
  margin-top: 20px;
  font-family: "Encode Sans", sans-serif;
  text-shadow: 2px 1px #ff0000;
}
